.prod {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  height: 112px;
  overflow hidden
  .prod-icon {
    margin-top: 10px;
    position: relative;
    width: 100px;
    height: 85px;

    .prod-img {
      width: 100%;
      height: 100%;
    }

    .prod-img-pages {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30px;
      height: 12px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      text-align: center;
      line-height: 12px;
      border-radius: 2px;
      font-size: 10px;
    }
  }

  .prod-info {
    text-align: left;
    flex: 1;
    margin-left: 15px;
    position: relative;

    .prod-name {
      position relative
      margin-top: 10px;
      font-size: 15px;
      line-height: 18px;
      .prod-enjoy{
        position absolute
        top: 0
        right: 18px
        height 15px
        width 15px
      }
    }

    .prod-value, .prod-time {
      margin-top: 10px;
      color: rgba(159, 159, 159, 1);
      font-size: 11px;
    }

    .prod-value {
      margin-top: 15px;

      span {
        margin-right: 20px;
      }
    }

    .prod-tags {
      margin-top: 10px;
      color: #FF6B00;
      font-size: 10px;
      margin-right: 60px;
      span {
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 6px;
        height: 13px;
        width: 50px;
        line-height: 13px;
        text-align: center;
        border-radius: 2px;
        background-color: #ffe1ce;
      }
    }

    .prod-price {
      position: absolute;
      color: #FF6B00;
      top: 45px;
      right: 0;
      font-size: 15px;
    }

    .prod-enjoy {
      position: absolute;
      top: 0;
      right: 0;
      height: 13px;
      width: 13px;
    }
  }
}
.mask {
  position: fixed;
  z-index: 9;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(52, 52, 52, 0.4);
}
.cell
    position relative
    display flex
    align-items center
    height 54px
    justify-content space-between
    border-bottom 1px solid #f1f1f1
    .cell-label
        font-size:15px
    .cell-value
        flex: 1
        padding-left: 30px
        text-align: left
        font-size:13px
        color: #666666
    .radio-box
        flex:1
        flex-wrap: wrap
        display flex
        align-items center
        margin-left 30px
    .cell-input
        margin-left 30px
        flex 1
        color #717171
        font-size 13px
        border none 
        outline none 
        text-align left
    .cell-right-icon
        // position absolute
        // top: 20px
        // right 0
        width 7px
        height 13px
.primary-btn
    margin 50px auto 0
    padding 12px 15px
    width 300px
.radio-item
    margin-right 30px
    font-size 13px
    color #111111
    .form_item_radio
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
    .form_item_radio:before
        position: absolute;
        content: '';
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-image: url(../images/icon-7.png);
.radio-item.is_check
    .form_item_radio:before
        background-image: url(../images/icon-6.png);
.textarea
    box-sizing: border-box
    margin-top 25px
    border-radius 2px
    border 1px solid #f2f2f2
    outline none
    color #666666
    font-size 13px
    padding 10px
    resize none
    width 100%
    box-sizing border-box

.search-box {
  height 40px;
  box-sizing: border-box;
  position fixed;
  width 100%;
  box-sizing:border-box;
  z-index 10;
  background-color #fff;
  display: flex;
  padding: 5px 15px;
}
.location {
  display flex
  flex-direction column
  width: 75px;
  position: relative;
  color: #666666;
}
.location-icon-r 
  top: 8px;
  position: absolute;
  left: 0;
  height: 13px;
  width: 13px;

.location-place-r {
  top: 8px;
  font-size: 13px;
  position: absolute;
  left: 21px;
  font-size: 0.346667rem;
}
.cube-input.search {
  width: 260px;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 13px;
}
.cube-input.search::after {
  border-radius: 40px;
  box-shadow: 0 2px 2px 2px rgba(245, 245, 245, 0.6);
}
.cube-input.search-min {
  width: 260px;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 13px;
}

.cube-input.search-min::after {
  border-radius: 40px;
  box-shadow: 0 2px 2px 2px rgba(245, 245, 245, 0.6);
}

.cube-input.search-min .cube-input-field{
  box-sizing: border-box;
  padding: 3px 10px;
}

.search-icon {
  height: 13px;
  width: 13px;
}


.search-icon {
  height: 13px;
  width: 13px;
}
.form-primary-btn
    margin-top: 25px;
    padding: 12px 15px;
.filter-body
  overflow: scroll;
  max-height 50vh;
  padding: 0 15px;
.filter-body::-webkit-scrollbar
  display:none

.block {
  margin: 10px 0 20px;
}

.block.bordered {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.block-label {
  font-size: 15px;
  margin: 10px auto;
}

.tags-info {
  margin-top: 15px;
  line-height 20px
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #f7f7f7;

  .tags-info-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
    font-size: 13px;
    
    .tags-label {
      text-align: left 
    }
    .tags-value{
       flex: 1
       text-align: left 
       
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;

  .tag-item {
    position: relative;
    padding: 12.5px 0;
    height: 92px;
    width: 25%;
    box-sizing border-box
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content center;
    .tag-item-icon {
      width: 46px;
    }

    .tag-item-check {
      position: absolute;
      bottom: 0px;
      height: 10px;
      width: 10px;
    }
  }
}
.remind-box
    position fixed
    top 0
    left 0
    z-index 20
    display flex
    height 100vh
    width 100vw
    background-color rgba(0,0,0,.4)
    justify-content center
    align-items center
.remind-inner
    box-sizing border-box
    padding 25px
    display flex
    flex-direction column
    align-items center
    background-color #ffffff
    width 275px
    border-radius 8px
    position relative
    .remind-logo
        position absolute
        left 25px
        top 25px
        width 102px
        height 29px
    .remind-desc
        margin 45px 0 25px
        font-size:15px;
        line-height:24px;
        text-align center
    .remind-close
        position absolute
        bottom -50px
        height 36px
        width 36px
.paypop
  background-color rgba(0,0,0,.4)
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 20
  display flex
  flex-direction column
  justify-content flex-end
  text-align: left ;
  .paypop-inner
    overflow-y scroll
    background-color #ffffff
    height 400px
    width 100%
    padding 15px
    box-sizing border-box
    .paypop-cancel
      font-size 15px
      color #666666
    .paypop-money
      height 30px
      line-height 30px
      color #FF6B00
      font-size 23px
      text-align center
      span 
        font-size 20px
    .paypop-title
      font-size 15px
      padding 15px 0
    .paypop-cell
      padding: 5px 0;
      display flex
      align-items center
      height 50px
      .paypop-cell-check
        height 10px
        width 10px
      .paypop-cell-icon
        margin-left 30px
        height 25px
        width 25px
      .paypop-cell-name
        margin-left 18px
        font-size:15px

.login-logo {
  display block;
  margin: 68px auto 0;
  height: 47px;
  width: 167px;
}

.login-box {
  padding: 0 50px;
}

.login-input {
  margin-top: 25px;
  flex 1;
}
.cube-input.login-input::after {
  border-color: #FF6B00;
  border-radius: 4px;
}
